@charset "UTF-8";
/* 페이지 레이아웃 */
body {
	font-family: var(--font-main);
}

.common-category a {
	cursor: pointer;
}

/* 공통 항목 기본 상태는 그대로 두되 여백 조정 */
.common-category .common-category-element {
  display: block;
}

.common-category {
	width: 200px;
	height: 250px;
}

/* 페이지 제목*/
.title-layout {
	margin: 40px 0;
	display: flex;
	justify-content: center;
}

/* 메인 콘텐츠 레이아웃 (사이드바 + 폼) */
.content-layout {
	display: flex;
	flex-direction: row;
}