@charset "UTF-8";

/* ======================================= */
/* 최상단 Text 마진 비율 */
.top-text-margin{
	margin: 40px 0px;
}

/* ======================================= */
/* 좌측 카테고리 사이즈 */
.category-size{
	height: fit-content !important;
}

/* ======================================= */
/* 해당 페이지 이름 안내 글 규격 */
/* 카테고리에 해당되는 게시판 이름 출력 H2에 적용 */
.main-text{
	width: 300px;
	text-align: left;
/* 	font-size:20px; */
	font-family: var(--font-main);
	color: var(--color-main)  !important;
	font-weight: bold;
	margin-top: 20px;
}

/* ======================================= */
/* write-layout이 들어가는 root layout */
.write_main_layout{
	margin-left: var(--common-margin);
	width: 1000px;
	height: fit-content !important;
	border-bottom: 2px solid var(--color-main); 
	border-top: 2px solid var(--color-main);
	border-radius: var(--common-radius);
}

/* ======================================= */
/* 각 칸마다 입력 안내문 + 입력란 삽입 */
.write-layout{
/* 	margin: var(--common-margin); */
	margin-top: var(--common-margin);
	margin-left: var(--common-margin);
	align-content: center;
/* 	border-bottom: 1px solid var(--color-border); */
/* 	justify-content: center; */
}

/* ======================================= */
/* Content Input Box */
.write-layout-content{
	margin: var(--common-margin) 0 var(--common-margin) var(--common-margin);
  	resize: none;   
  	overflow: auto; 
  	height: auto;
}

/* TextArea 리사이저 제거 */
textarea::-webkit-resizer {
  display: none;
}
/* ======================================= */
/* 문의 카테고리 선택 드롭다운 패딩 (?) */
/* 적용 안되는거같음 */
.select-category{
	padding-right: var(--common-padding);
}

/* ======================================= */
/* 각 안내문 규격 */
.info-text{
	align-content:center;
	color: var(--color-font) !important;
	width: 200px;
	height: 30px;
	font-weight: bold;
}

.info-text-content{
	align-content:center;
	color: var(--color-font) !important;
	width: 200px;
	height: auto;
	font-weight: bold;
}


.info-text-attachment{
	align-content:center;
	color: var(--color-main) !important;
	width: auto;
	height: 30px;
	font-weight: bold;
}


/* 안내문 사이즈 */
.form-size{
	width: 300px;
	height: 30px;	
}

/* ======================================= */
/* 첨부파일 추가 버튼 */
.add-attachment-bt{
	margin: 0px 0px var(--common-margin) 220px;
}


/* 그 외 버튼 높이 */
.button-detail{
	height: 30px;
}

/* 취소, 완료 버튼을 담는 레이아웃 */
.button-container{
	justify-content: right;
	flex-direction:row;
	margin: var(--common-margin) 0px;
}

/* ======================================= */





