@charset "UTF-8";

.icon-size {
	 width: 40px;
	 height: 40px;
	 display: block;
	 margin: 0 auto;
}

.main_bannder {
  	width: 150px;
	height: auto;

}

.nav-link {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding: 0 12px;
	 color: var(--color-font) !important;
	 font-size: 10px;
	 font-weight: bold;
}

.header_icons {
	 vertical-align: center;
}

.header {
	 position: relative;
	 border-bottom: 1px solid #C1C7CD;
	 background-color: #fff;
	 padding: 20px 20px;   
	 min-height: 100px;    
}


.logo-text {
	 color: var(--color-font);
	 font-weight: bold;
	 font-size: 18px;
	 text-decoration: none;
}

.icon-btn {
	 font-size: 18px;
	 color: #839FD1;
}

.logo-area,
.logo-center {
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%);
}
