<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias alias="member" type="com.itwillbs.luna_code.vo.member_join.MemberJoinVO"/>
	</typeAliases>
	
	<mappers>
    	<mapper resource="com/itwillbs/luna_code/mapper/member_login/MemberLoginMapper.xml"/>
    	<mapper resource="com/itwillbs/luna_code/mapper/class/ClassRegistMapper.xml"/>
	</mappers>
	
	
</configuration>	