<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.luna_code.mapper.my_profile.MyProfileMapper">

	<select id="selectUserProfile" resultType="com.itwillbs.luna_code.vo.UserVO">
		SELECT 
			   nickname
			 , bio
			 , github_url
			 , profile_img
			 , member_type
			 , deny_reason
		  FROM member
		 WHERE user_id = #{user_id}
	</select>
	
	<!-- 최근 게시글 조회 -->
	<select id="selectRecentPostsByAuthorIdx" resultType="com.itwillbs.luna_code.vo.community.PostVO">
		SELECT 
        	   post_idx
             , title 
          FROM post
         WHERE author_idx = #{author_idx}
      ORDER BY post_idx DESC
         LIMIT #{limit}
    </select>
    
    <!-- 최근 댓글 조회 -->
    <select id="selectRecentCommentsByAuthorIdx" resultType="com.itwillbs.luna_code.vo.community.CommentVO">
        SELECT 
               comment_idx 
             , post_idx 
             , content 
          FROM comment
         WHERE author_idx = #{author_idx}
      ORDER BY comment_idx DESC
         LIMIT #{limit}
    </select>
	
</mapper>
