<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.itwillbs.luna_code.mapper.cart.CartMapper">

    <!-- 장바구니 목록 조회를 위한 select 쿼리 -->
    <select id="selectCartList" resultType="com.itwillbs.luna_code.vo.cart.CartVO">
        select
               c.cart_idx
             , c.user_idx
             , c.class_idx
             , cl.class_thumbnail
             , cl.class_title
             , cl.total_lessons
             , cl.class_type
             , m.user_id
             , cl.class_price
             , 0 as discount_price
             , cl.class_price as final_price
          from cart c
          join class cl 
            on c.class_idx = cl.class_idx
          join member m
            on cl.instructor_idx = m.user_id
         where c.user_idx = #{user_idx}
         order by c.cart_idx desc
    </select>
    
    <!-- 선택된 장바구니 항목 삭제를 위한 delete 쿼리 -->
    <delete id="deleteCartItems">
        delete 
          from cart
         where user_idx = #{user_idx}
           and cart_idx in
        <foreach item="cart_idx" collection="cartIdxList" open="(" separator="," close=")">
            #{cart_idx}
        </foreach>
    </delete>

</mapper>