@charset "UTF-8";

.thumbnail-image{
	width: 250px;
	height: 250px;
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
	margin-top: var(--common-margin);
	align-self: center;
}

.class-info-root-layout{
	width: 100%
}

/* 설명 텍스트 규격 */
.info-text{
	font-family: var(--font-main);
	align-content:center;
	color: var(--color-font) !important;
	width: 100px;
	height: 30px;
	font-weight: bold;
	margin-right: var(--common-margin);
}

.info-item{
	margin-top: var(--common-margin);
}

.content-layout{
	margin-top: var(--common-margin);
	margin-left: var(--common-margin);
	align-content: center;
}

/* ======================================= */
/* Content Input Box */
.post-content{
	min-height: 50px;
	min-width: 300px;
	font-family: var(--font-main);
	white-space: pre-wrap;     /* pre 기본값(pre) → pre-wrap으로 바꿔야 줄바꿈 허용 */
	overflow-wrap: anywhere;   /* 긴 단어/URL 강제 개행 */
	font-family: inherit;      /* 기본 monospace 말고 페이지 폰트 쓰기 */
	margin: 0;                 /* 필요시 여백 조절 */
}


/* ======================================= */
.subject-text{
	font-family: var(--font-main);
	align-content:center;
	color: var(--color-font) !important;
	width: auto;
	height: 30px;
	font-weight: bold;
}

.add-attachment-bt{
	font-family: var(--font-main);
	margin: 0px var(--common-margin);
}


.member-state-selector{
	color: var(--color-font);
	border: 1px solid var(--color-border);
	border-radius: var(--common-radius);
	width: 100px;
	height: 30px;
}

.member-state-selector:focus {
	box-shadow: none !important;
	outline: 0;
	border: 2px solid var(--color-main) !important;
}









