@charset "UTF-8";

/* 설명 텍스트 규격 */
.info-text{
	color: var(--color-font-white) !important;
	width: auto;
}

/* ========================================= */
.list-item-root{
	border-bottom: 1px solid var(--color-border);
}

.list-item-root:hover{
	background-color: var(--color-sub);
}

.align-form{
	display: inline;
	margin: 0px;	
}



/* ========================================= */
/* 각 항목들의 텍스트 규격 */
.text-no{
	font-family: var(--font-main);
	font-weight: bold;
	text-align: left;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 100px;
	margin-right: var(--common-margin-half);
}

.text-id{
	font-family: var(--font-main);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 350px;
	margin-right: var(--common-margin-half);
}

.text-name{
	font-family: var(--font-main);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 150px;
	margin-right: var(--common-margin-half);
}


.text-code{
	font-family: var(--font-main);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 400px;
	margin-right: var(--common-margin-half);
}



.text-type{
	font-family: var(--font-main);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 150px;
	margin-right: var(--common-margin-half);
}

.text-date{
	font-family: var(--font-main);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 150px;
	margin-right: var(--common-margin-half);
}


.text-state{
	font-family: var(--font-main);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 100px;
	margin-right: var(--common-margin-half);
}

.text-view-count{
	font-family: var(--font-main);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 150px;
}

/* 수정, 삭제에 적용될 아이콘 및 동작 */
.edit-icon{
	width: 30px;
	height: 30px;
	margin-left: var(--common-margin);
	border: 1px solid var(--color-border);
	border-radius: var(--common-radius);
	background-color: var(--color-sub);
}

.common-cat{
	
	margin-left: var(--common-margin);
	width: auto;
	height: auto;
}


.cat-bt{
	width: 100px;
	height: 30px;
	text-decoration: none;
	color: var(--color-font);
	margin-right: var(--common-margin);
}

.cat-bt:hover{
	background-color: var(--color-sub);
}

.add-group-bt{
	margin-right: var(--common-margin);
}





