@charset "UTF-8";


.profile-image{
	width: 250px !important;
	height: 250px !important;
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
	align-self: center;
	margin: var(--common-margin) 0px;
/* 	margin-left: var(--common-margin); */
}

.icon-delete{
	width: 40px !important;
	height: 40px !important;
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
	margin-top: var(--common-margin);
	margin-left: var(--common-margin);
}


.member-info-root-layout{
	margin-left: 100px;
}

.info-item{
	margin-top: var(--common-margin);
}


/* ======================================= */
/* 안내 텍스트 규격 */
.info-text{
	font-family: var(--font-main);
	align-content:center;
	color: var(--color-font) !important;
	width: 100px;
	height: 30px;
	font-weight: bold;
	margin-right: var(--common-margin);
}

.subject-text{
	font-family: var(--font-main);
	align-content:center;
	color: var(--color-font) !important;
	width: auto;
	height: 30px;
	font-weight: bold;
}












