@charset "UTF-8";


.profile-image{
	width: 250px;
	height: 250px;
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
	margin-top: var(--common-margin);
	margin-left: var(--common-margin);
}

.reason-box{
	margin-left: var(--common-margin);
}

.member-info-root-layout{
	margin-left: 100px;
	width: 100%
}

.info-item{
	margin-top: var(--common-margin);
}

/* ======================================= */
/* Content Input Box */
.post-content{
	min-height: 50px;
	min-width: 300px;
	font-family: var(--font-main);
	white-space: pre-wrap;     /* pre 기본값(pre) → pre-wrap으로 바꿔야 줄바꿈 허용 */
	overflow-wrap: anywhere;   /* 긴 단어/URL 강제 개행 */
	font-family: inherit;      /* 기본 monospace 말고 페이지 폰트 쓰기 */
	margin: 0;                 /* 필요시 여백 조절 */
}

/* ======================================= */
/* 안내 텍스트 규격 */
.info-text{
	font-family: var(--font-main);
	align-content:center;
	color: var(--color-font) !important;
	width: 100px;
	height: 30px;
	font-weight: bold;
	margin-right: var(--common-margin);
}

.form-size{
	width: 200px;
	height: 30px;	
}


.comment-input-layout{
	padding-top: var(--common-margin-half);
	height: 100px;
	width: 100%;
}





