<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.luna_code.mapper.admin_page.ApSupportMapper">
	
	<select id="countAllQuery">
		select count(*) 
		from customer_query cq
		left join member m on m.idx = cq.user_idx
		<where>
	    <if test="q != null and q != ''">
	    	m.user_id like concat('%', #{q}, '%')
	    </if>
	  </where>
<!-- 		where answer_status = false; -->
	</select>
	
	<select id="selectQueryList">
		select 
			cq.query_idx
			,cq.user_idx
			,cq.query_category
			,cq.answer_status
			,cq.query_subject
			,cq.query_content
			,cq.query_date
			,cq.is_update
			,cq.update_date
			,m.user_id as user_id
		from customer_query 
		cq left join member m on m.idx = cq.user_idx
		<where>
	    <if test="q != null and q != ''">
	    	m.user_id like concat('%', #{q}, '%')
	    </if>
	  </where>
		order by cq.query_date desc, cq.query_idx desc
		limit #{start_row}, #{list_limit}
	</select>

	<select id="selectQueryDetail">
		select 
			cq.query_idx
			,cq.user_idx
			,cq.query_category
			,cq.answer_status
			,cq.query_subject
			,cq.query_content
			,cq.query_date
			,cq.is_update
			,cq.update_date
			,m.user_id as user_id
		from customer_query 
		cq left join member m on m.idx = cq.user_idx
		where query_idx = #{query_idx}
	</select>
	
	<select id="selectQueryAnswer">
		select
			answer_idx
			,ca.query_idx
			,ca.admin_idx
			,ca.answer_subject
			,ca.answer_content
			,ca.answer_date
			,m.user_id as admin_id
		from customer_query_answer 
		ca left join member m on m.idx = ca.admin_idx
		where query_idx = #{query_idx}	
	</select>
	
	
	<insert id="insertNewAnswer">
		insert into customer_query_answer(
			query_idx
			,admin_idx
			,answer_subject
			,answer_content
		)values(
			#{query_idx}
			,#{admin_idx}
			,#{answer_subject}
			,#{answer_content}
		)
	</insert>
	
	<update id="updateAnswerStatus">
		update customer_query 
		set answer_status = true
		where query_idx = #{query_idx}
	</update>
	
	
	


</mapper>
