<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 인터페이스 경로 -->	
<mapper namespace="com.itwillbs.luna_code.mapper.community.CommunityMapper">

	<select id="postList">
	  select
	    p.post_idx
	    ,p.board_code
	    ,p.title
	    ,p.author_idx
	    ,(select m.nickname from member m where m.idx = p.author_idx) as author
	    ,p.created_date
	    ,p.update_date
	    ,p.is_update
	    ,p.view_count
	    ,(select count(*) from comment c where c.post_idx = p.post_idx) as cnt_comment
	  from post p
	  
	  <where>
	    <if test="q != null and q != ''">
	    	p.title like concat('%', #{q}, '%')
	    </if>
	  </where>
	  
	  order by p.created_date desc, post_idx desc 
	  limit #{start_row}, #{list_limit}
	</select>
	
	<!-- 총 게시물 수 가져오는 쿼리 -->
	<select id="countAllPost">
		select count(*)
		from post p
		<where>
			<if test="q != null and q != ''">
				p.title like concat('%', #{q}, '%')
			</if>
		</where>
	</select>

	
	<select id="getPostDetail">
		select 
			post_idx
			,board_code
			,title
			,content
			,author_idx
			,(select nickname from member where idx = author_idx) as author
			,created_date
			,update_date
			,is_update
			,view_count
		 from post where post_idx = #{post_idx}
	</select>
		
	<insert id="insertNewPost">
	  insert into post (
		    board_code, title, content, author_idx, created_date, view_count
		  ) values (
		    'BD01'
		    ,#{title}
		    ,#{content}
		    ,#{author_idx}
		    ,default
		    ,1
		  )
	</insert>

	<update id="increaseViewCount">
		update post 
		set view_count = view_count + 1 
		where post_idx = #{post_idx}; 
	</update>
	
	<delete id="deletePost">
		delete from post 
		where post_idx = #{post_idx} 
		and 
		author_idx = #{idx}
	</delete>
	
	<update id="modifyPost">
		update post 
		set title = #{vo.title}
		,content = #{vo.content}
		,is_update = true 
		,update_date = now() 
		where post_idx = #{vo.post_idx} and author_idx = #{idx}
	</update>
	
	
	
</mapper>
	


