<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 인터페이스 경로 -->	
<mapper namespace="com.itwillbs.luna_code.mapper.community.CommunityMapper">

	<select id="postList">
		select 
			post_idx,
			board_code,
			title,
			content,
			author_idx,
			(select nickname from member where idx = author_idx) as author,
			created_date,
			update_date,
			is_update,
			view_count
		 from post
	</select>
	
	
	<select id="getPostDetail">
		select 
			post_idx,
			board_code,
			title,
			content,
			author_idx,
			(select nickname from member where idx = author_idx) as author,
			created_date,
			update_date,
			is_update,
			view_count
		 from post where post_idx = #{post_idx}
	</select>
	
		
	<insert id="insertNewPost">
	  INSERT INTO post (
		    board_code, title, content, author_idx, created_date, view_count
		  ) VALUES (
		    'BD01',
		    #{title},
		    #{content},
		    (SELECT idx FROM member WHERE user_id = #{author_id}),
		    DEFAULT,
		    1
		  )
	</insert>

	<update id="increaseViewCount">
	
		update post set view_count = view_count + 1 where post_idx = #{post_idx}; 
	
	</update>
	
	


</mapper>
	


