<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 인터페이스 경로 -->	
<mapper namespace="com.itwillbs.luna_code.mapper.community.PostLikeMapper">
	
<!-- 	<select id="selectLikeCount"> -->
<!-- 		select count(*) from like_record where post_idx = #{post_idx} -->
<!-- 	</select> -->
	
	<select id="selectLikeCount">
		with tmp_like as(
			select count(*) as cnt,
			exists(select * from like_record where (user_idx = #{user_idx} and post_idx = #{post_idx})) as result
			from like_record where post_idx = #{post_idx}
		)select cnt, 
			case when result = 1 then 'true' else 'false' end  as dup_res,
		    case when result = 1 then '#E6F5FF' else '#F2F4F8' end as bg_color
		    from tmp_like;
	</select>


	<insert id="insertNewLike">
		insert into like_record(user_idx, post_idx)
		values(#{user_idx}, #{post_idx})
	</insert>
	
	<delete id="deleteLike">
		delete from like_record where user_idx = #{user_idx} and post_idx = #{post_idx}
	</delete>
	
	


</mapper>
