<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.luna_code.mapper.UserMapper">

	<!-- 프로필 정보 조회 쿼리 -->
	<select id="selectUserProfile" parameterType="string" resultType="com.itwillbs.luna_code.vo.UserVO">
		select
			   user_id
			,  user_name
			,  nickname
			,  email
			,  phone
			,  bio
			,  github_url
			,  profile_img
		  from member
		 where user_id = #{user_id}
	</select>

	<!-- 프로필 정보 업데이트 쿼리 -->
	<update id="updateUserProfile" parameterType="com.itwillbs.luna_code.vo.UserVO">
		update member
		<set>
			  nickname = #{nickname},
			       bio = #{bio},
			     email = #{email},  
			github_url = #{github_url}
			<if test="profile_img != null and profile_img != ''">
				, profile_img = #{profile_img}
			</if>
		</set>
		where user_id = #{user_id}
	</update>

	<!-- 닉네임 개수 조회 쿼리 (중복 확인용) -->
	<select id="countNickname" parameterType="string" resultType="int">
		select count(*) 
		  from member
		 where nickname = #{nickname}
	</select>
	
	<!-- 이메일 개수 조회 쿼리 (중복 확인용) -->
	<select id="countEmail" parameterType="string" resultType="int">
		select COUNT(*) 
		  from member
		 where email = #{email}
	</select>
	
	<!-- userId에 해당하는 비밀번호 조회 -->
	<select id="selectPassword" resultType="string">
		select password
		  from member
		 where user_id = #{user_id}
	</select>

	<!-- userId에 해당하는 회원의 비밀번호를 새 비밀번호로 업데이트 -->
	<update id="updatePassword">
		update member
		   set password = #{encryptedNewPassword}
		 where user_id = #{user_id}
	</update>

	<delete id="deleteUser">
		delete 
		  from member
		 where user_id = #{user_id}
	</delete>

</mapper>
