@charset "UTF-8";

html, body {
  overflow-y: scroll;
  overflow-x: scroll;
  font-family: var(--font-main);
  color:var(--color-font);
}

.page-base{
	min-width: 1000px;
	width: 1000px;       
/* 	overflow-x: scroll;  */
	white-space: normal;    
}


.page-wrapper {
	min-width: 1000px; 
	overflow-x: auto;
	white-space: nowrap; 
}

.icon-link {
	display: inline-flex;
	flex-shrink: 0;
	overflow: hidden;
}

.icon-size {
	width: 30px;
	height: 30px;
	flex-shrink: 0;
}



