<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 인터페이스 경로 -->	
<mapper namespace="com.itwillbs.luna_code.mapper.ClassMapper">

<insert id="insertClass" parameterType="com.itwillbs.luna_code.vo.ClassVo">
			INSERT INTO class (
			instructor_idx, 
			class_title, 
			create_date, 
			class_thumbnail, 
			class_intro, 
			class_content, 
			class_price, 
			class_category, 
			class_level,
			url
		) VALUES (
   			#{instructor_idx}, 
			#{class_title}, 
			NOW(), 
			#{class_thumbnail}, 	
			#{class_intro}, 
			#{class_content}, 
			#{class_price}, 
			#{class_category}, 
			#{class_level},
			#{url}
		)
	</insert>
	
	<delete id="deleteClassEnrollmentByClassId" parameterType="int">
		DELETE FROM class_enrollment 
		WHERE class_idx = #{classId};
	</delete>
	
	<delete id="deleteClass" parameterType="int">
    	DELETE FROM class 
    	WHERE class_idx = #{classId}
	</delete>
	
	<select id="selectAllClasses" resultType="com.itwillbs.luna_code.vo.ClassVo">
	    SELECT class_idx, class_title, class_price, class_thumbnail
	    FROM class
	</select>
	
    <!--  강의 조회 -->
    <select id="selectClassByIdx">
        select      
			c.class_idx          
			,c.instructor_idx     
			,c.class_title          
			,c.create_date       
			,c.class_thumbnail 
			,c.class_intro    
			,c.class_price        
			,c.class_category     
			,c.class_level      
			,c.total_lessons
			,c.url
			,c.accept_status
			,c.deny_reason
			,m.user_id as instructor_id
			from class 
			c left join member m on c.instructor_idx = m.idx
			where class_idx = #{class_idx}
    </select>

    <!-- 수강 신청 -->
    <insert id="applyCourse">
    	INSERT INTO cart (user_idx, class_idx)
    	VALUES (#{user_idx}, #{class_idx})
	</insert>
	
	<!-- 장바구니 중복 확인 -->
	<select id="checkCartDuplicate" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM cart
	    WHERE user_idx = #{userIdx}
	      AND class_idx = #{classIdx}
	</select>
	
	
</mapper>