<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.luna_code.mapper.ClassEpisodeMapper">

    <insert id="insertClassEpisode" parameterType="com.itwillbs.luna_code.vo.ClassEpisodeVo" >
	  INSERT INTO class_episode (
	    session_idx, 
	    episode_name
	) VALUES (
	 	#{session_idx}, 
	 	#{episode_name}
	)
	</insert>
	
	<select id="selectEpisodesBySessionId" parameterType="com.itwillbs.luna_code.vo.ClassEpisodeVo">
	    SELECT episode_idx, session_idx, episode_name
	    FROM class_episode
	    WHERE session_idx = #{sessionIdx}
	</select>
	
	<update id="updateEpisode" parameterType="com.itwillbs.luna_code.vo.ClassEpisodeVo">
	    UPDATE class_episode
	    SET episode_name = #{episode_name}
	    WHERE episode_idx = #{episode_idx}
	</update>
	
	<delete id="deleteEpisodesByClassId" parameterType="int">
	    DELETE FROM class_episode WHERE session_idx IN (
	        SELECT session_idx FROM class_session WHERE class_idx = #{classId}
	    )
	</delete>
	

</mapper>