<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.luna_code.mapper.ClassSessionMapper">

    <insert id="insertClassSession" parameterType="com.itwillbs.luna_code.vo.ClassSessionVo" useGeneratedKeys="true" keyProperty="session_idx">
	  INSERT INTO class_session (
	    class_idx, 
	    session_name, 
	    session_index
	) VALUES (
	 	#{class_idx}, 
	 	#{session_name}, 
	 	#{session_index}
	 )
	</insert>
	
	<select id="selectSessionsByClassId" parameterType="com.itwillbs.luna_code.vo.ClassSessionVo">
	    SELECT session_idx, class_idx, session_name, session_index
	    FROM class_session
	    WHERE class_idx = #{class_idx}
	</select>
	
	<update id="updateSession" parameterType="com.itwillbs.luna_code.vo.ClassSessionVo">
	    UPDATE class_session
	    SET session_name = #{session_name}
	    WHERE session_idx = #{session_idx}
	</update>
	
	<delete id="deleteSession" parameterType="int">
        DELETE FROM class_session WHERE session_idx = #{session_idx}
    </delete>

    <!--  특정 클래스의 모든 세션 삭제 -->
    <delete id="deleteSessionsByClassId" parameterType="int">
        DELETE FROM class_session WHERE class_idx = #{class_idx}
    </delete>
	


</mapper>