<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 인터페이스 경로 -->	
<mapper namespace="com.itwillbs.luna_code.mapper.ClassMapper">

<insert id="insertClass" parameterType="com.itwillbs.luna_code.vo.ClassVo">
			INSERT INTO class (
			instructor_idx, 
			class_title, 
			create_date, 
			class_thumbnail, 
			class_intro, 
			class_content, 
			class_price, 
			class_category, 
			class_level,
			url
		) VALUES (
   			#{instructor_idx}, 
			#{class_title}, 
			NOW(), 
			#{class_thumbnail}, 	
			#{class_intro}, 
			#{class_content}, 
			#{class_price}, 
			#{class_category}, 
			#{class_level},
			#{url}
		)
	</insert>
	
	<delete id="deleteClassEnrollmentByClassId" parameterType="int">
		DELETE FROM class_enrollment 
		WHERE class_idx = #{classId};
	</delete>
	
	<delete id="deleteClass" parameterType="int">
    	DELETE FROM class 
    	WHERE class_idx = #{classId}
	</delete>
	
	
	
	
</mapper>