<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 인터페이스 경로 -->	
<mapper namespace="com.itwillbs.luna_code.mapper.CourseRegistrationMapper">

	<!-- 모든 강의 리스트 가져오기 -->
    <select id="selectClassList" resultType="com.itwillbs.luna_code.vo.ClassVo">
        SELECT class_idx, class_title
        FROM class
        ORDER BY create_date DESC, class_idx DESC
    </select>
    
    
    

</mapper>