@charset "UTF-8";


.horizontal-line {
	width: 600px;
	height: 1px; /* 원하는 높이로 고정 */
	background-color: var(--color-board);
	border: none;
	margin: 10px 0px;
}


.input-form-layout{
	height: 30px;
	width: 600px;
	margin: 5px 0px;
}


.input-form-layout-last{
	height: 30px;
	width: 600px;
	margin-top: 100px;
}


.span-layout{
	height: 1em;
	width: 600px;
}


.info-text {
	text-align: left;
	margin-right: 30px;
	font-weight: bold;
	height: 60%;
	width:100px;
	font-size: 16px;
	color: var(--color-main);
	font-family: var(--font-main);
}


.input-form{
	
	padding-left:20px;
	
	width: 50%;
	height: 100%;
	
	background-color: var(--color-sub);
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
	
}


.icon{
	align-content:center;
	width: 30px;
	height: 100%;
	margin-left: 30px;
	
}



.input-form-email{
	
	width: 24%;
	height: 100%;
	
	background-color: var(--color-sub);
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
	
}


.form-check-button{
	height: 100%;
	width: 100px;
	margin-left: 30px;
	
	color: var(--color-font-white);
	background-color: var(--color-main);
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
	
}

.positive-button{
	height: 100%;
	width: 100px;
	margin-left: 30px;
	
	color: var(--color-font-white) !important;
	background-color: var(--color-main);
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
}

.negative-button{
	height: 100%;
	width: 100px;
	margin-left: 30px;
	
	color: var(--color-font-white) !important;
	background-color: var(--color-sub);
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
}



.info-span {
	
	width:100%;
	text-align:left;
	font-size: 9px;
	color: var(--color-main);
}



