@charset "UTF-8";






.terms-box {
	max-height: 350px;
	overflow-y: scroll;
	padding: 15px;
	border: 1px solid var(--color-board);
	background-color: var(--color-white);
	font-size: 14px;
	line-height: 1.6;
	color: var(--color-font);
	margin: var(--common-margin) 0;
}


#agree-check-box{
	border: 1px solid var(--color-main);
	color: var(--color-main);
	border-color: var(--color-main);
	border-radius: 20px;
	width: 20px;
	height: 20px;
	
	margin-right: 20px;
}




.notice-msg{
	font-family: var(--font-main);
	font-weight: bold;
	color: var(--color-main);
}


.notice-msg-no-bold{
	font-family: var(--font-main);
	color: var(--color-font);
}


.button-agree{
	width: 300px;
	height: 50px;
	color: var(--color-font-white);
	background-color: var(--color-white);
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
	font-weight: bold;
}

.button-agree:hover{
	background-color: var(--color-main);
}






#term_box > h3{
	
	align-items: center;
}