@charset "UTF-8";

.member-base-layout{
	width: 100%;
	height: 500px;
}

.member-sub-layout{
	width: 300px;
	height: 50%;
	margin: 0px 35px;
	border: 1px solid var(--color-border);
	border-radius: var(--common-radius);
}

.member-sub-layout:hover{
	background-color: F2F4F8;
	border: 1px solid var(--color-main);
}

.member-icon-size{
	width: 70%;
	height: 70%;
	flex-shrink: 0; 
}

.vertical-line {
	width: 2px;
	height: 600px; /* 원하는 높이로 고정 */
	background-color: var(--color-border);
	border: none;
	margin: 15px 15px;
}

.member-font{
	font-size: 24px;
	color: var(--color-font);
}






