@charset "UTF-8";

.terms-box {
	max-height: 350px;
	overflow-y: scroll;
	padding: 15px;
	border: 1px solid var(--color-border);
	background-color: var(--color-white);
	font-size: 14px;
	line-height: 1.6;
	color: var(--color-font);
}

#agree-check-box{
	border: 1px solid var(--color-main);
	color: var(--color-main);
	border-color: var(--color-main);
	border-radius: 20px;
	width: 20px;
	height: 20px;
	
	margin-right: 20px;
}

.notice-msg{
	margin: var(--common-margin) 0px;
	font-family: var(--font-main);
	font-weight: bold;
	color: var(--color-main);
}


.notice-msg-no-bold{
	font-family: var(--font-main);
	color: var(--color-font);
	height: 100%;
}


.check-box-margin{
/* 	height: 100% !important; */
	margin-right: var(--common-margin-half) !important;
}



.button-agree{
	width: 300px;
	height: 50px;
}


#term_box > h3{	
	align-items: center;
}