@charset "UTF-8";


.main-text{
	font-family: var(--font-main);
	color: var(--color-main)  !important;
	font-weight: bold;
	margin-top: 20px;
	text-align: left;
	
/* 	margin: var(--common-margin) 0px; */

}

.horizontal-line {
	width: 100%;
	height: 1px; /* 원하는 높이로 고정 */
	background-color: var(--color-border);
	border: none;
}


.list-layout{
	margin-left: var(--common-margin);
	width: 100%;
	height: 500px;
/* 	border: 1px solid var(--color-border); */
/* 	border-radius: var(--common-radius); */
	overflow: scroll;
	overflow-x: hidden;
}



list-main-layout{
	margin-left: var(--common-margin);
	width: 100%;
	height: 600px;
}



.list-info-layout{
	margin-left: var(--common-margin);
	border-radius: var(--common-radius);
	height: 50px;
	padding-left: var(--common-padding);
	background-color: var(--color-main);
	
}


.info-text{
	color: var(--color-font-white) !important;
}

.list-item-layout{
	height: 50px;
	padding-left: var(--common-padding);
/* 	padding-top: var(--common-padding); */
}


.list-item-layout:hover{
	background-color: var(--color-sub);
}

.text-no{
	font-family: var(--font-main);
	font-size: var(--font-size-info);
	font-weight: bold;
	text-align: left;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 100px;
	margin-right: var(--common-margin-half);
}

.text-subject{
	font-family: var(--font-main);
	font-size: var(--font-size-info);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 350px;
	margin-right: var(--common-margin-half);
}

.text-date{
	font-family: var(--font-main);
	font-size: var(--font-size-info);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 150px;
	margin-right: var(--common-margin-half);
}


.text-category{
	font-family: var(--font-main);
	font-size: var(--font-size-info);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 150px;
	margin-right: var(--common-margin-half);
}

.text-answer-state{
	font-family: var(--font-main);
	font-size: var(--font-size-info);
	font-weight: bold;
	text-align: center;
	font-size: var(--font-size-normal);
	color: var(--color-font);
	width: 150;
	margin-right: var(--common-margin-half);
}


.edit-icon{
	width: 30px;
	height: 30px;
	margin-right: var(--common-margin);
	border: 1px solid var(--color-border);
	border-radius: var(--common-radius);
	background-color: var(--color-sub);
}

.search-icon{
	width: 40px;
	height: 40px;
/* 	border: 1px solid var(--color-main); */
/* 	border-radius: var(--common-radius); */
	align-content: center;
	margin-left: var(--common-margin--half);
}

.edit-icon:hover, .search-icon:hover{
	border: 1px solid var(--color-main);
	border-radius: var(--common-radius);
}


.edit-icon:hover, .search-icon:active{
	transform: scale(0.95);
/* 	width: 25px; */
/* 	height: 25px; */
}


.search-form-size{
	width: 300px;
	height: 40px;	
}


.write-button-size{
	height: 40px;
}

.page-selector-layout{
	
	margin-top: 50px;
	
}


.page-selector{
	
	font-family: var(--font-main);	
	text-decoration: none;
	margin-right: 2em;
	
}


.category-size{
	height: fit-content !important;
}



