@charset "UTF-8";


body{
	font-family: var(--font-main);
}

/* ======================================= */
.top-layout{
	margin: 40px 0px;
}

/* ======================================= */
/* 카테고리 사이즈 */
.category-size{
	height: fit-content !important;
}


.main-text{
	width: auto;
	text-align: left;
	color: var(--color-main)  !important;
	font-weight: bold;
	margin-top: 20px;
}

.view-count-text{
	width:100%;
	text-align: right;
	font-weight: bold;
	margin: var(--common-margin) var(--common-margin) 0px 0px
}

.write_main_layout{
	margin-left: var(--common-margin);
/* 	background-color: var(--color-sub); */
	width: 1000px;
	height: fit-content !important;
	border-bottom: 2px solid var(--color-main); 
	border-top: 2px solid var(--color-main);
	border-radius: var(--common-radius);
}

.qna_layout{
	margin-bottom: var(--common-margin);
}

.write-layout{
	margin-top: var(--common-margin);
	margin-left: var(--common-margin);
	align-content: center;
}

/* ======================================= */
/* Content Input Box */
.notice-content{
  white-space: pre-wrap;     /* pre 기본값(pre) → pre-wrap으로 바꿔야 줄바꿈 허용 */
  overflow-wrap: anywhere;   /* 긴 단어/URL 강제 개행 */
  font-family: inherit;      /* 기본 monospace 말고 페이지 폰트 쓰기 */
  margin: 0;                 /* 필요시 여백 조절 */
}

/* ======================================= */
/* 안내 텍스트 규격 */
.info-text{
	align-content:center;
	color: var(--color-font) !important;
	width: 200px;
	height: 30px;
	font-weight: bold;
}

.info-text-content{
	align-content:center;
	color: var(--color-font) !important;
	width: 200px;
	height: auto;
	font-weight: bold;
}

.form-size{
	width: 200px;
	height: 30px;	
}

.add-attachment-bt{
	margin: 0px 0px var(--common-margin) 220px;
}


/* 문의 작성 버튼 */
.button-detail{
	height: 30px;
}

.button-container{
	justify-content: right;
	flex-direction:row;
	margin: var(--common-margin) 0px;
}







