<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 인터페이스 경로 -->	
<mapper namespace="com.itwillbs.luna_code.mapper.member_join.MemberJoinMapper">

	<select id="checkDuplication">
		with tmp_cnt as (
			select count(*) as cnt from member
			<choose>
				<when test="type == 'id'">
					where user_id = #{value}
				</when>
				<when test="type == 'nickname'">
					where nickname = #{value}
				</when>
				<when test="type == 'email'">
					where email = #{value}
				</when>
				<when test="type == 'phone'">
					where phone = #{value}
				</when>
			</choose>
		)
		select case when cnt = 1 then 
				case when #{type} = 'id' then '중복된 아이디입니다.'
				when #{type} = 'nickname' then '중복된 닉네임입니다.'
				when #{type} = 'email' then '중복된 이메일입니다.'
				when #{type} = 'phone' then '중복된 전화번호입니다.'
				end
				
				else case when #{type} = 'id' then '사용 가능한 아이디입니다.'
				when #{type} = 'nickname' then '사용 가능한 닉네임입니다.'
				when #{type} = 'email' then '사용 가능한 이메일입니다.'
				when #{type} = 'phone' then '사용 가능한 전화번호입니다.'
				end
			end as text,
			case when cnt = 1 then '#FF0000' else '#81C147' end as color,
			case when cnt = 1 then 'false' else 'true' end as dupResult
		from tmp_cnt
	</select>

	<insert id="insertNewMember">
		insert into member(
			user_id,
			user_name,
			nickname,
			password,
			email,
			phone,
			profile_img,
			bio,
		    birth,
			github_url,
			attendance_count,
			attendance_consecutive,
			attendance_last,
			member_type,
			certificate_01,
		    certificate_02,
		    certificate_03
		)values(#{user_id}, #{user_name}, #{nickname}, #{password}, #{email}, #{phone}, "", "", #{birth}, '', 1, 1, now(), #{member_type}, #{cerPath1}, #{cerPath2}, #{cerPath3})
	</insert>
	
	
	
	
</mapper>
	


